# Pandas III
---

In [1]:
import pandas as pd

*we obtained some data file (non csv files) like from http://www.ncl.ucar.edu/Applications/Data/*

In [3]:
pd.read_csv('../data/solfrc_cntrl.dat').head()

      87.9      6.8882E+01
0     85.1      6.9243E+01
1     82.3      7.1715E+01
2     79.5      7.3179E+01
3     76.7      8.2814E+01
4     73.9      9.4552E+01

*which has no headers, and separated by space. we can use pandas generic reader to open file*

In [4]:
pd.read_table('../data/solfrc_cntrl.dat').head()

      87.9      6.8882E+01
0     85.1      6.9243E+01
1     82.3      7.1715E+01
2     79.5      7.3179E+01
3     76.7      8.2814E+01
4     73.9      9.4552E+01

In [5]:
# let's define separator, what separates each column of given data
pd.read_table('../data/solfrc_cntrl.dat', sep='\s+').head()

   87.9  6.8882E+01
0  85.1      69.243
1  82.3      71.715
2  79.5      73.179
3  76.7      82.814
4  73.9      94.552

*\\s+ is a regular expression, which means multiple number of spaces. see References for more*

In [10]:
# now let's give column name for each column
pd.read_table('../data/solfrc_cntrl.dat', header=None, names=['T', 'V'], sep='\s+').head()

      T       V
0  87.9  68.882
1  85.1  69.243
2  82.3  71.715
3  79.5  73.179
4  76.7  82.814

*__header=None__, means dont use header from loaded table and use provided by __names__ instead*

Instead of downloading a file into disk and loading them, load them directly from url

In [12]:
pd.read_table('http://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt')

            GLOBAL Land-Ocean Temperature Index in 0.01 degrees Celsius   base period: 1951-1980
0                        sources:  GHCN-v3 1880-06/...
1                        using elimination of outli...
2                        Notes: 1950 DJF = Dec 1949...
3                                                  ...
4    Year   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug ...
5    1880   -30  -20  -18  -28  -14  -29  -24   -8 ...
6    1881    -9  -14    1   -3   -4  -28   -6   -2 ...
7    1882    10    9    2  -20  -17  -25  -10    4 ...
8    1883   -33  -42  -17  -24  -25  -11   -8  -13 ...
9    1884   -18  -11  -34  -36  -31  -38  -34  -25 ...
10   1885   -64  -29  -23  -44  -41  -50  -28  -27 ...
11   1886   -41  -45  -41  -29  -27  -39  -16  -32 ...
12   1887   -66  -48  -31  -37  -33  -20  -19  -27 ...
13   1888   -43  -42  -47  -28  -22  -20   -9  -11 ...
14   1889   -20   14    4    4   -3  -12   -5  -18 ...
15   1890   -48  -47  -41  -38  -48  -27  -29  -36 ...
16   1891   -46  -48  -15  -25  -17  -22  -22  -21 ...
17   1892   -26  -15  -36  -35  -25  -20  -28  -20 ...
18   1893   -68  -51  -24  -33  -35  -23  -13  -24 ...
19   1894   -55  -32  -21  -42  -30  -43  -32  -28 ...
20   1895   -44  -43  -29  -23  -23  -25  -17  -16 ...
21   1896   -23  -15  -30  -32  -20  -13   -6   -9 ...
22   1897   -23  -19  -12   -1    0  -12   -5   -3 ...
23   1898    -6  -32  -56  -34  -36  -21  -22  -23 ...
24   1899   -18  -40  -34  -21  -20  -25  -13   -5 ...
25   1900   -39   -7    2  -15   -6  -15   -8   -3 ...
26   Year   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug ...
27   1901   -27   -5    5   -5  -17  -10   -8  -12 ...
28   1902   -18   -3  -29  -28  -31  -33  -25  -28 ...
29   1903   -27   -5  -23  -40  -41  -44  -30  -43 ...
..                                                 ...
123  1993    38   39   36   27   27   24   27   14 ...
124  1994    31    4   26   41   29   42   32   23 ...
125  1995    51   78   45   46   29   44   48   49 ...
126  1996    27   49   34   37   29   26   35   49 ...
127  1997    32   37   51   37   38   54   36   42 ...
128  1998    61   89   61   63   71   77   70   68 ...
129  1999    48   67   33   34   33   37   41   34 ...
130  2000    26   59   59   59   40   43   42   43 ...
131  Year   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug ...
132  2001    44   46   58   52   59   54   61   49 ...
133  2002    74   76   91   59   65   54   61   55 ...
134  2003    72   55   57   55   63   48   55   66 ...
135  2004    58   70   66   63   42   43   27   45 ...
136  2005    72   58   70   69   65   66   65   62 ...
137  2006    57   71   63   49   47   63   54   71 ...
138  2007    96   69   71   75   67   57   62   60 ...
139  2008    26   35   73   53   50   47   60   44 ...
140  2009    61   53   53   61   63   65   71   67 ...
141  2010    73   79   92   87   74   64   61   65 ...
142  2011    51   51   64   65   53   58   74   73 ...
143  2012    46   49   57   68   77   61   57   63 ...
144  2013    66   56   65   53   61   65   59   65 ...
145  2014    73   50   77   79   86   65   58   81 ...
146  2015    82   87   90   74   78   78   73   78 ...
147  2016   114  133  129  109   93   79 **** **** ...
148  Year   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug ...
149  Divide by 100 to get changes in degrees Celsiu...
150  Multiply that result by 1.8(=9/5) to get chang...
151         Example      --      Table Value :      40
152                            change :    0.40 deg...

[153 rows x 1 columns]

*Above dataset has following which we have to normalise*

- dataset is separated by spaces
- has multiple lines of extra info at top
- has multiple lines of extra info at bottom
- is chunked in multiple blocks ( has multiple column name lines in between )

In [16]:
df = pd.read_table('http://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt', 
                   skiprows=7, skipfooter=7, sep='\s+')

/usr/lib/python3.5/site-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skip_footer; you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [17]:
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year.1
0,1880,-30,-20,-18,-28,-14,-29,-24,-8,-17,-16,-19,-21,-20,***,****,-20,-20,-17,1880
1,1881,-9,-14,1,-3,-4,-28,-6,-2,-9,-19,-26,-15,-11,-12,-15,-2,-12,-18,1881
2,1882,10,9,2,-20,-17,-25,-10,4,-1,-22,-21,-25,-10,-9,1,-12,-10,-14,1882
3,1883,-33,-42,-17,-24,-25,-11,-8,-13,-18,-11,-20,-18,-20,-20,-33,-22,-11,-16,1883
4,1884,-18,-11,-34,-36,-31,-38,-34,-25,-23,-22,-30,-29,-27,-27,-15,-34,-32,-25,1884
5,1885,-64,-29,-23,-44,-41,-50,-28,-27,-19,-18,-22,-5,-31,-33,-41,-36,-35,-20,1885
6,1886,-41,-45,-41,-29,-27,-39,-16,-32,-19,-25,-26,-25,-30,-29,-30,-32,-29,-23,1886
7,1887,-66,-48,-31,-37,-33,-20,-19,-27,-20,-32,-26,-37,-33,-32,-46,-34,-22,-26,1887
8,1888,-43,-42,-47,-28,-22,-20,-9,-11,-8,1,-1,-13,-20,-22,-41,-33,-14,-2,1888
9,1889,-20,14,4,4,-3,-12,-5,-18,-18,-22,-30,-31,-11,-10,-6,2,-11,-23,1889
10,1890,-48,-47,-41,-38,-48,-27,-29,-36,-36,-23,-37,-30,-37,-37,-42,-42,-31,-32,1890
11,1891,-46,-48,-15,-25,-17,-22,-22,-21,-13,-23,-37,-1,-24,-27,-41,-19,-22,-25,1891
12,1892,-26,-15,-36,-35,-25,-20,-28,-20,-25,-16,-50,-29,-27,-25,-14,-32,-22,-30,1892
13,1893,-68,-51,-24,-33,-35,-23,-13,-24,-18,-16,-17,-37,-30,-29,-49,-30,-20,-17,1893
14,1894,-55,-32,-21,-42,-30,-43,-32,-28,-22,-16,-25,-22,-31,-32,-41,-31,-34,-21,1894
15,1895,-44,-43,-29,-23,-23,-25,-17,-16,-2,-10,-16,-12,-22,-22,-36,-25,-19,-9,1895
16,1896,-23,-15,-30,-32,-20,-13,-6,-9,-4,4,-16,-12,-15,-15,-17,-27,-10,-5,1896
17,1897,-23,-19,-12,-1,0,-12,-5,-3,-4,-9,-17,-25,-11,-10,-18,-5,-7,-10,1897
18,1898,-6,-32,-56,-34,-36,-21,-22,-23,-19,-31,-36,-21,-28,-28,-21,-42,-22,-29,1898
19,1899,-18,-40,-34,-21,-20,-25,-13,-5,-1,0,13,-26,-16,-15,-26,-25,-14,4,1899
20,1900,-39,-7,2,-15,-6,-15,-8,-3,2,9,-13,-14,-9,-10,-24,-6,-9,-1,1900
21,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year
22,1901,-27,-5,5,-5,-17,-10,-8,-12,-16,-29,-17,-29,-14,-13,-15,-6,-10,-20,1901
23,1902,-18,-3,-29,-28,-31,-33,-25,-28,-21,-26,-36,-45,-27,-25,-17,-29,-29,-27,1902
24,1903,-27,-5,-23,-40,-41,-44,-30,-43,-42,-41,-38,-47,-35,-35,-26,-34,-39,-40,1903
25,1904,-63,-53,-45,-50,-50,-49,-47,-43,-46,-34,-16,-29,-44,-45,-54,-48,-47,-32,1904
26,1905,-37,-58,-24,-37,-33,-31,-24,-20,-14,-24,-9,-21,-28,-28,-41,-31,-25,-16,1905
27,1906,-30,-32,-15,-3,-20,-21,-25,-18,-25,-19,-38,-18,-22,-22,-28,-13,-21,-28,1906
28,1907,-43,-51,-23,-39,-46,-43,-35,-37,-32,-24,-51,-50,-40,-37,-37,-36,-38,-36,1907
29,1908,-46,-35,-58,-46,-40,-39,-35,-45,-33,-43,-50,-49,-43,-43,-44,-48,-40,-42,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,1988,57,42,49,44,44,42,35,45,41,38,12,34,40,41,49,46,41,30,1988
114,1989,16,35,36,34,17,15,33,35,37,33,20,37,29,29,28,29,28,30,1989
115,1990,40,41,76,55,46,37,43,30,30,43,45,41,44,44,39,59,37,39,1990
116,1991,42,50,35,52,39,54,51,41,49,32,31,33,42,43,45,42,49,37,1991
117,1992,45,42,47,23,33,24,13,10,0,10,4,22,23,24,40,34,16,5,1992
118,1993,38,39,36,27,27,24,27,14,11,23,7,19,24,25,33,30,22,14,1993
119,1994,31,4,26,41,29,42,32,23,32,42,45,36,32,30,18,32,32,40,1994
120,1995,51,78,45,46,29,44,48,49,34,49,44,30,46,46,55,40,47,43,1995
121,1996,27,49,34,37,29,26,35,49,26,20,41,40,34,34,35,33,37,29,1996
122,1997,32,37,51,37,38,54,36,42,56,65,65,59,48,46,37,42,44,62,1997
123,1998,61,89,61,63,71,77,70,68,45,46,49,57,63,63,70,65,72,47,1998
124,1999,48,67,33,34,33,37,41,34,44,44,41,47,42,43,57,33,38,43,1999
125,2000,26,59,59,59,40,43,42,43,43,30,33,30,42,44,44,53,42,35,2000
126,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year
127,2001,44,46,58,52,59,54,61,49,56,52,70,55,55,53,40,56,55,59,2001
128,2002,74,76,91,59,65,54,61,55,64,57,59,42,63,64,68,71,57,60,2002
129,2003,72,55,57,55,63,48,55,66,66,75,54,74,62,59,56,58,56,65,2003
130,2004,58,70,66,63,42,43,27,45,53,66,72,52,55,56,67,57,38,64,2004
131,2005,72,58,70,69,65,66,65,62,77,80,76,68,69,68,61,68,65,77,2005
132,2006,57,71,63,49,47,63,54,71,64,69,72,77,63,62,65,53,63,69,2006
133,2007,96,69,71,75,67,57,62,60,64,60,57,49,66,68,81,71,60,60,2007
134,2008,26,35,73,53,50,47,60,44,64,67,66,55,53,53,36,59,50,66,2008
135,2009,61,53,53,61,63,65,71,67,69,65,78,65,64,63,56,59,68,71,2009
136,2010,73,79,92,87,74,64,61,65,62,71,80,49,71,73,72,84,63,71,2010
137,2011,51,51,64,65,53,58,74,73,56,66,56,54,60,60,50,61,68,59,2011
138,2012,46,49,57,68,77,61,57,63,75,79,75,52,63,63,49,67,60,76,2012
139,2013,66,56,65,53,61,65,59,65,77,70,80,66,65,64,58,60,63,76,2013
140,2014,73,50,77,79,86,65,58,81,90,86,69,79,74,73,63,80,68,82,2014
141,2015,82,87,90,74,78,78,73,78,81,107,103,110,87,84,82,81,76,97,2015
142,2016,114,133,129,109,93,79,****,****,****,****,****,****,****,***,119,110,****,****,2016

In [20]:
df.shape

(143, 20)

In [21]:
df.dtypes

Year      object
Jan       object
Feb       object
Mar       object
Apr       object
May       object
Jun       object
Jul       object
Aug       object
Sep       object
Oct       object
Nov       object
Dec       object
J-D       object
D-N       object
DJF       object
MAM       object
JJA       object
SON       object
Year.1    object
dtype: object

In [22]:
df.index

RangeIndex(start=0, stop=143, step=1)

In [23]:
df.columns

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'J-D', 'D-N', 'DJF', 'MAM', 'JJA', 'SON',
       'Year.1'],
      dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 20 columns):
Year      143 non-null object
Jan       143 non-null object
Feb       143 non-null object
Mar       143 non-null object
Apr       143 non-null object
May       143 non-null object
Jun       143 non-null object
Jul       143 non-null object
Aug       143 non-null object
Sep       143 non-null object
Oct       143 non-null object
Nov       143 non-null object
Dec       143 non-null object
J-D       143 non-null object
D-N       143 non-null object
DJF       143 non-null object
MAM       143 non-null object
JJA       143 non-null object
SON       143 non-null object
Year.1    143 non-null object
dtypes: object(20)
memory usage: 22.4+ KB

In [27]:
type(df["Year"])

pandas.core.series.Series

In [29]:
df["Year"].values

array(['1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887',
       '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895',
       '1896', '1897', '1898', '1899', '1900', 'Year', '1901', '1902',
       '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910',
       '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918',
       '1919', '1920', 'Year', '1921', '1922', '1923', '1924', '1925',
       '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933',
       '1934', '1935', '1936', '1937', '1938', '1939', '1940', 'Year',
       '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948',
       '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956',
       '1957', '1958', '1959', '1960', 'Year', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', 'Year', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', 'Year', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016'], dtype=object)

In [28]:
type(df["Year"].values)

numpy.ndarray

### Loading a excel file

*Note: this process required __xlrd__ module which is a python library to load/read xls files.*

to install use:

    $ conda install xlrd

In [19]:
pd.read_excel('../data/nepal/tas5_1900_1930.xls', sheetname=)

     Temperature (C)  \tYear   Month  Country   ISO3   ISO2
0           2.218293    1901       1      NPL    NaN    NaN
1           4.759756    1901       2      NPL    NaN    NaN
2           9.471951    1901       3      NPL    NaN    NaN
3          14.504878    1901       4      NPL    NaN    NaN
4          16.886585    1901       5      NPL    NaN    NaN
5          20.260975    1901       6      NPL    NaN    NaN
6          19.513414    1901       7      NPL    NaN    NaN
7          18.676830    1901       8      NPL    NaN    NaN
8          17.182926    1901       9      NPL    NaN    NaN
9          14.296341    1901      10      NPL    NaN    NaN
10          8.679269    1901      11      NPL    NaN    NaN
11          5.075610    1901      12      NPL    NaN    NaN
12          5.087805    1902       1      NPL    NaN    NaN
13          6.339024    1902       2      NPL    NaN    NaN
14         10.974390    1902       3      NPL    NaN    NaN
15         13.528049    1902       4      NPL    NaN    NaN
16         16.810976    1902       5      NPL    NaN    NaN
17         19.067074    1902       6      NPL    NaN    NaN
18         18.534145    1902       7      NPL    NaN    NaN
19         18.823170    1902       8      NPL    NaN    NaN
20         17.202438    1902       9      NPL    NaN    NaN
21         12.404879    1902      10      NPL    NaN    NaN
22          7.892683    1902      11      NPL    NaN    NaN
23          4.826829    1902      12      NPL    NaN    NaN
24          3.680488    1903       1      NPL    NaN    NaN
25          4.560976    1903       2      NPL    NaN    NaN
26          8.328049    1903       3      NPL    NaN    NaN
27         14.050000    1903       4      NPL    NaN    NaN
28         17.569513    1903       5      NPL    NaN    NaN
29         19.268291    1903       6      NPL    NaN    NaN
..               ...     ...     ...      ...    ...    ...
330        19.047562    1928       7      NPL    NaN    NaN
331        18.943903    1928       8      NPL    NaN    NaN
332        18.452438    1928       9      NPL    NaN    NaN
333        14.021952    1928      10      NPL    NaN    NaN
334         8.062195    1928      11      NPL    NaN    NaN
335         4.958537    1928      12      NPL    NaN    NaN
336         3.456097    1929       1      NPL    NaN    NaN
337         4.519512    1929       2      NPL    NaN    NaN
338        10.925610    1929       3      NPL    NaN    NaN
339        14.086586    1929       4      NPL    NaN    NaN
340        17.792683    1929       5      NPL    NaN    NaN
341        18.629269    1929       6      NPL    NaN    NaN
342        18.886585    1929       7      NPL    NaN    NaN
343        18.115854    1929       8      NPL    NaN    NaN
344        17.258537    1929       9      NPL    NaN    NaN
345        12.750000    1929      10      NPL    NaN    NaN
346         8.652439    1929      11      NPL    NaN    NaN
347         4.120732    1929      12      NPL    NaN    NaN
348         2.606098    1930       1      NPL    NaN    NaN
349         4.754878    1930       2      NPL    NaN    NaN
350        10.492682    1930       3      NPL    NaN    NaN
351        13.817073    1930       4      NPL    NaN    NaN
352        17.131708    1930       5      NPL    NaN    NaN
353        18.092684    1930       6      NPL    NaN    NaN
354        18.723171    1930       7      NPL    NaN    NaN
355        18.373170    1930       8      NPL    NaN    NaN
356        17.689024    1930       9      NPL    NaN    NaN
357        12.941463    1930      10      NPL    NaN    NaN
358         8.197561    1930      11      NPL    NaN    NaN
359         4.602439    1930      12      NPL    NaN    NaN

[360 rows x 6 columns]

*This loaded first sheet, to select a particular sheet*

```python
pd.read_excel('../data/nepal/tas5_1900_1930.xls', sheetname='tas5_1900_19030')
```

In [ ]:
# now combine those two into single dataframe 
df2 = pd.concat([df[['Indicator Name']], df.ix[:,'2010':'2015']], axis=1).head(3)

In [ ]:
# see how axis value changes the dataframe
pd.concat([df[['Indicator Name']], df.ix[:,'2010':'2015']], axis=0).head(3)